/* Light mode */
$background-color: #fffffe;
$headline-color: #094067;
$text-color: #5f6c7b;
$button-color: #3da9fc;
$gray-section: #fcfcfc;
$darker-bgc: #f3f3f3;
$contact-bgc: #b3ddfe;

/* Dark Theme */
$background-color-dark: #0d1117;
$headline-color-dark: #c9d1d9;
$text-color-dark: #8b949e;
$button-color-dark: #58a6ff;
$gray-section-dark: #161b22;
$darker-bgc-dark: #0e131a;
$contact-bgc-dark: #1f6feb;
